.list {
    list-style: none;
}



.tips {
    margin: 35px 0px;
}



.garden {
    margin: 30px;
    flex-grow:2
}


#rose {
    width: 30%;
}



.notes {
    margin: 30px;
    flex-grow: 1;
}


.parent{
    display:flex;
}