.weather {
    width: 31vw;
    height: 14vh;
    padding: 15px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: gainsboro;
    opacity: 0.4;
}

h5, .info, .hi, .lo {
    color: black;
    opacity: 1;
}

.info {
    font-size: .9rem;
}

.hi, .lo{
    font-size: .75em;
}